
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ebe9e9;
}

.container_Header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    margin: 0 auto;
}
.sidebarwrapper {
    display: flex;
    width: 20%;
    height: 90vh;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.sidebar_btns ul li button {
    width: 100%;
    height: 50px;
    border: transparent;
    font-size: 18px; 
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}
.sidebar_btns ul li button:hover {
    transition: background-color 0.3s ease;
    background-color: aqua;
}

.sidebar_btns_icons_left,
.sidebar_btns_icons_right {
    display: flex;
    font-size: 20px;
    padding: 15px 10px;
    align-items: center;
}

.sidebar_btns_icons_left {
    justify-content: flex-start;
}

.sidebar_btns_icons_right {
    justify-content: flex-end;
}
.container_add_students{
    background-color: #fff;
    width: 100%;
    
}
